h3{
    font-size: 25px !important;
    font-weight: 900;
    color: black;
}



canvas{
border: 10px solid black;

}

button{
    font-size: 25px !important;
    width: 240px;
    
}